<footer class="footer">
<title>Footer</title>
  <small>
    <a href="http://botreeconsulting.com/">Botree Consulting</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact-us", 'http://botreeconsulting.com/contact-us/' %></li>
    </ul>
  </nav>
</footer>