<header class="navbar navbar-fixed-top navbar-inverse">
<title>Header</title>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Project Tracking", projectdetails_path, id: "logo" %>
      <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Client", organizations_path %></li>
            </ul>
          </nav>
    </div>
  </div>
</header>